<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<p>

<%= @game.player_1.name %> has attacked <%= @game.player_2.name%>!
<p>

<%= @game.player_2.name%>: <%= @game.player_2.hp %>HP

<form action="/player_2_attack" method="post">
    <input type="submit" value="Player_2 Attack">
</form>